.fps-display {
    /* position: absolute; */
    top: 10px; /* Adjust as necessary */
    left: 10px; /* Adjust as necessary */
    width: 100px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 50px;
  }

  .canvas-and-info-container {
    display: flex;
    align-items: center; /* Vertically align items in the center */
  }
  
  .sideways-text {
    writing-mode: vertical-lr; /* Makes the text vertical */
    transform: rotate(180deg); /* Rotates the text to be readable from left to right */
    margin-left: 20px; /* Space between the canvas and the text */
    white-space: nowrap; /* Prevents the text from wrapping */
    font-size: 24px;
  }