<br/>
<br/> 
<br/>
<br/> 

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-xl-4 col-lg-4 col-md-4 d-flex flex-column align-items-center justify-content-center" style="color: white">
            <h3>WASM & Angular & Graphs</h3>
            <br/>
            <p>I will try to keep my articles short and sweet so here is the TLDR;</p>
            <p>Why Webassembly - I wanted something super performant but also versionable for app logic in specific components in my webpage.</p>
            <br/>
            <p>[Some benchmarks]</p>
            <br/>
            <p>At first, I started building a couple of examples but then focused on building a super-performant UI to display graphs.</p>
            <br/>
            <!-- <p>[Demo]</p> -->
            <br/>
            <app-wasm-component></app-wasm-component>
            <h3>Other cool ideas </h3>
            <ul>
                <li>learn more about LLVM</li>
                <li>combining with WGPU (still in beta)</li>
            </ul>
        </div>
    </div>
    <br/> 
    <br/>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">
            <!-- <img height="64" width="64" src="https://opengameart.org/sites/default/files/Preview%20Tiki.png" alt="responsive webite"
            style="padding-bottom: 20px;">

            <a href= "#" class="nav-link" style=" color: white">PKM</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="padding-top: 16px;">29-12-2023</p> -->

        </div>
    </div>
</div>