<div class="particles-panel">
    <div class="canvas-wrapper">
        <div #rendererContainer class="renderer-container">
            <!-- Three.js canvas will be injected here -->
        </div>

        <div *ngIf="loading" class="loading-overlay">
            <p>Loading Dave 2.0{{ loadingDots }}</p>
        </div>
    </div>

    <div class="question-panel text-center">
        <div class="input-row">
            <input class="form-control" type="text" placeholder="Ask a question"
                [(ngModel)]="question"
                [disabled]="isDisabled" (keyup.enter)="askQuestion()">
            <button type="button" class="btn btn-success" (click)="askQuestion()" [disabled]="isDisabled">
                Ask
            </button>
        </div>
        <p class="response-copy">
            {{ displayedMessage }}{{ displayedDots }}
        </p>
        <app-artifact-viewer [responseMarkdown]="activeResponseMarkdown"></app-artifact-viewer>
    </div>
</div>
