<div #rendererContainer style="position: relative;">
    <div class="container-fluid" style="position: absolute; z-index: 2;">
        <div class="row justify-content-md-center col-gap">
            <div class="col-sm-4 text-center" style="min-width:400px;top: 200px;">
                <!-- <span style="font-size:40px;color: white;">{{ text }}</span> -->
                <span style="color:white;font-size:40px;" [innerHTML]="getSafeHtml(text)"></span>
                <!-- <button type="button" routerLink="/contact" class="btn btn-success" style="font-size:20px;">Get in touch</button> -->
                <!-- <strong><span style="font-size:40px;">Feel a <span style="color: orange">Wave</span> of disruption in your 
                        <span style="color: #689cff">Organization</span></span></strong> -->
            </div>
            <!-- <div class="col-md-auto text-center">
                <img src="./assets/images/mylogo.png" height="100" width="300" style="margin-top:50px;">
            </div> -->
        </div>
    </div>
</div>