.nav-link:hover {
    color: lime !important;
}

.navbar-brand:hover {
    color: lime !important;
}

.navbar-brand {
    color: white;
}

.nav-link:hover h3 {
    color: lime !important;
}

.test {
    display: flex;
    align-items: center; 
  }
