<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#6f2da8;">
  <!-- <img src="assets/images/me.png" height="80" width="80" /> -->
  <app-logo></app-logo>

  <a class="navbar-brand" href="#">WebstarCloud</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li><a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home </a></li>
      <li><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>

<div>
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<div style="background-color:#6f2da8;">
  <div class="container">
    <div class="row justify-content-md-center">
      <!-- <div class="col-md-auto text-center" style="margin-top:40px;color:white;">
        © 2023 WebstarCloud
      </div> -->
      <div class="col-md-auto text-center nav-link" style="color:white;">
        <!-- <a href="https://github.com/webstarcloud"><img src="./assets/images/github.png" height="20" width="20"></a> &nbsp;&nbsp; -->
        <a href="https://www.linkedin.com/in/webstar/"><img src="./assets/images/linkedin.png" height="20" width="20"></a> &nbsp;&nbsp;
        <!-- <a href="https://aws.amazon.com/what-is-cloud-computing"><img src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="Powered by AWS Cloud Computing" height="20" width="60"></a> -->
        <!-- <a href="https://stackoverflow.com/users/4453351/david-webster"><img src="./assets/images/stack-overflow.png" height="20" width="20"></a> -->
      </div>
      <div class="col-md-auto text-center" style="color:white;">
        <a class="nav-link" href="/privacy" style="text-decoration: none;color:white;">Privacy</a>
      </div>
      <div class="col-md-auto text-center" style="color:white;">
        <a class="nav-link" href="/contact" style="text-decoration: none;color:white;">Contact</a>
      </div>
    </div>
  </div>
</div>