<br/>
<br/> 
<br/>
<br/> 

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-xl-4 col-lg-4 col-md-4 d-flex flex-column align-items-center justify-content-center" style="color: white">
            <h3>Disruptive Ideas:</h3>
            <p><i>Some of my cool builds/ideas</i></p>
        </div>
    </div>
    <br/> 
    <br/> 
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">
            <img height="64" width="64" src="https://opengameart.org/sites/default/files/Preview%20Tiki.png" alt="responsive webite"
            style="padding-bottom: 20px;">

            <a href= "#" class="nav-link" style=" color: white">Startups and enterprises.</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">
            <img height="64" width="64" src="https://opengameart.org/sites/default/files/Preview%20Tiki.png" alt="responsive webite"
            style="padding-bottom: 20px;">

            <a href= "#" class="nav-link" style=" color: white">Brand as a service .</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">
            <img height="64" width="64" src="https://opengameart.org/sites/default/files/Preview%20Tiki.png" alt="responsive webite"
            style="padding-bottom: 20px;">

            <a href= "#" class="nav-link" style=" color: white">Rust & WASM .</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">
            <img height="64" width="64" src="https://opengameart.org/sites/default/files/Preview%20Tiki.png" alt="responsive webite"
            style="padding-bottom: 20px;">

            <a href= "#" class="nav-link" style=" color: white">Security.</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/> 