<br/>
<br/> 
<br/>
<br/> 

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-xl-4 col-lg-4 col-md-4 d-flex flex-column align-items-center justify-content-center" style="color: white">
            <h3>Disruptive Ideas:</h3>
            <p><i>Some of my cool builds/ideas</i></p>
        </div>
    </div>
    <br/> 
    <br/>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href="/homomorphic" class="nav-link" style="width: 300px; color: white">Homomorphic encryption</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "#" class="nav-link" style="width: 300px; color: white">Social-Tech</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div> 
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "#" class="nav-link" style="width: 300px; color: white">Startups and enterprises.</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "#" class="nav-link" style="width: 300px;  color: white">Brand as a service .</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "/wasm-graphophile" class="nav-link" style="width: 300px;  color: white">Graph networks with WASM</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "#" class="nav-link" style="width: 300px;  color: white">Rust & accidental complexity</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "#" class="nav-link" style="width: 300px;  color: white">Security for Cloud Engineers</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "#" class="nav-link" style="width: 300px;  color: white">Metaplatforms</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "#" class="nav-link" style="width: 300px;  color: white">Shrine to the Godfather of cloud</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

            <a href= "#" class="nav-link" style="width: 300px;  color: white">World scale events</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="width:100px;padding-top: 16px;">29-12-2023</p>

        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/> 