.nav-link:hover {
  color: var(--text-0) !important;
  background-color: rgba(255, 255, 255, 0.08);
}

.a {
  color: var(--text-1);
  text-decoration: none;
}

div {
  color: var(--text-1);
}

.nav-link {
  width: 300px;
  text-decoration: none;
  color: var(--text-1);
}
