.nav-link:hover {
    color: #fff !important;
    background-color: lime;
}

.a {
    color: lime;
    text-decoration: none;
}

div {
    color: lime;
}

.nav-link {
    width: 300px;
    text-decoration: none;
    color: lime;
}