

<div style="background-color:white;color:#6f2da8;">
    <div class="container-fluid">
        <div class="row justify-content-md-center col-gap">
            <div class="col-sm-6" style="margin-top:40px;min-width:400px">
                <strong><span style="font-size:40px;">Privacy Notice</span></strong>
                <br/><br/>
                <strong><span style="font-size:30px;">Last Updated 17 August 2023</span></strong>
                <br/><br/><br/>
                <p><span style="font-size:20px;color: #6f2da8;">
                        This website (DavidWebstar.com) does not use any analytics software or cookies.
                        </span>
                </p>
                <br/>
                <strong><span style="font-size:30px;">What I collect</span></strong>
                <br/><br/>
                <p><span style="font-size:20px;color: #6f2da8;">
                    Only good ideas. 
                    </span>
                </p>
                <br/>
                <strong><span style="font-size:30px;">Outside links</span></strong>
                <br/><br/>
                <p><span style="font-size:20px;color: #6f2da8;">
                    When you leave DavidWebstar.com via one of the links, I cannot confirm if tracking or cookies are being used by these sites. 
                    </span>
                </p>
                <br/>
                <br/>
                <p><span style="font-size:20px;color: #6f2da8;">
                    If you have any questions feel free to contact me directly here: dwebster182&#64;gmail.com
                    </span>
                </p>
            </div>

        </div>
    </div>
</div>