.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Takes full viewport height */
}

.container .nav-link {
    text-decoration: none;
    color: #6f2da8;
}
