<div class="container d-flex flex-column justify-content-between vh-100" style="position: relative; z-index: 2;">
    <div>
        <br/>
        <div class="row justify-content-md-center" style="color:#6f2da8;">
            <h2>WebstarCloud</h2>
        </div>
        <br/>
        <div class="row justify-content-md-center">
            <app-particles></app-particles>
        </div>
        <!-- <div class="row justify-content-md-center">
            <app-disruption></app-disruption>
        </div> -->
    </div>

    <!-- Privacy link at the bottom -->
<div class="row justify-content-md-center">
    <div class="col-md-auto text-center" style="color:#6f2da8;">
        <a class="nav-link d-inline" href="https://www.linkedin.com/in/webstar/" style="text-decoration: none;color:#6f2da8;">Linkedin</a>
        <a class="nav-link d-inline" href="https://github.com/davidwebstar34" style="text-decoration: none;color:#6f2da8;">Github</a>
        <a class="nav-link d-inline" href="/privacy" style="text-decoration: none;color:#6f2da8;">Privacy</a>
    </div>
</div>

</div>

<!-- app-logo component will be placed behind everything -->
<app-logo style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;"></app-logo>

