<br/>
<br/> 
<br/>
<br/> 

<div class="container-fluid">
    
    <div class="row justify-content-md-center">

        <div class="col-xl-6 col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center" style="color: white">
            <h3>Homomorphic encryption</h3>
            <br/>
            <p>I will try to keep my articles short and sweet so here is the TLDR;</p>
            <p>Why Homomorphic encryption - you dont have to decrypt the data when you are working on it</p>
            <br/>
            <p>How does it work? Test my api with your own key and data</p>
            <br/>
            <!-- <p>[Demo]</p> -->
            <br/>
            <br/>
            <textarea rows="6" class="form-control" type="text" placeholder="Paste data.json here" [(ngModel)]="public_key"></textarea>
            <br/>
            <div style="display: flex;">
                <button type="button" class="btn btn-success" style="font-size:20px;" (click)="submit()" >Submit</button>
            </div>
            <br/>
            <br/>
            <h3>Other cool ideas </h3>
            <ul>
                <li>MPC</li>
                <li>RSA & AES & DH</li>
                <li>Functional encryption</li>
                <li>AWS</li>
                <li>ACM</li>
            </ul>
        </div>

    </div>
    <br/> 
    <br/>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center justify-content-center" style=" color: white">

        </div>
    </div>
</div>